.logo {
  font-family: Myriad, 'Lucida Grande', sans-serif;
  font-size: 30px;
  color: #101010;
  margin-right: 20px;
}

.app-greeting {
  color: #1d3f4b;
  font-weight: bold;
}

.logout-btn {
  color: #fbf8ef;
  padding: 5px;
  background-color: #a2fc9c;
}

#photogis-map {
  height: 500px;
  width: 800px;
  margin: auto;
}
